@{
    ViewBag.Title = "About";
}
<p>@Html.ActionLink("Contact", "Contact")</p>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h3>@TempData["name"]</h3>
<h3>@TempData["age"]</h3>

<p>Use this area to provide additional information.</p>
